@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Roboto&display=swap');

:root {
    font-family: "Roboto";
    font-size: 16px;
    color: white;
    --bg: #353535;
    --nav-bg: #1a2323;
    --focus: #4169e1;
    --for-purple: #5ec924;
}

* {
    margin: 0;
    padding: 0;
}

/* body */

body {
    background-image: linear-gradient(to top, black, transparent), url(képek/fold.jpg);
    background-repeat: no-repeat, no-repeat;
    background-size: cover, cover;
    background-attachment: fixed, fixed;
}

/* .wrapper {
    animation: scroll 70s linear infinite;
    background: url("https://images.unsplash.com/photo-1465146633011-14f8e0781093?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3450&q=80"), #111111;
    color: #eee;
    height: 10vh;
    min-width: 360px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 1000px;
    perspective-origin: 50% 50%;
  }
  
  @keyframes scroll {
     100%{
      background-position:0px -3000px;
    }
  }
  
  @media (prefers-reduced-motion) {
    .wrapper {
      animation: scroll 200s linear infinite;
    }
  } */


/* nav-bar */

header {
    display: flex;
    height: 5vh;
    justify-content: space-between;
    align-items: center;
    margin-top: 1%;
    margin-bottom: 0;
    margin-left: 1%;
    margin-right: 1%;
    background-color: var(--nav-bg);
    padding: 1.5%;
    border-radius: 10px;
}

nav ul li{
    display: inline-block;
    list-style: none;
    padding: 0 1vw 0 1vw;
    align-items: center;
}

nav ul li span a, .kosar>i {
    text-decoration: none;
    color: #fff;
    transition: all 0.5s;
}

nav ul li span a:hover {
    color: var(--focus);
}

.kosar:hover>a, .kosar:hover>i {
    color: var(--for-purple);
}

.kosar {
    border: none;
    border-radius: 50px;
    background-color: var(--focus);
    padding: 0.5em;
    transition: all 0.5s;
}

.active-lap {
    color: var(--focus);
}

.bi-bag-check{
    margin: 0 0.3em 0 0;
    color: white
}

.kosar:hover{
    background-color: #393160;
    box-shadow: white 0px 0px 10px;
}

li .active-kosar {
    background-color: gray;
}

li .active-kosar a {
    display: none;
}

.logo {
    width: 100px;
    filter: invert(1);
}


/* CART: egész */

.kosar-lap {
    width: 92%;
    margin: auto;
    position: relative;
    top: 5%;
}

.kosar-irany{
    text-align: center;
    margin-bottom: 2%;
    color: #b3b3b3;
    font-size: 1.3em;
}

.kosar-irany p span {
    color: white; 
}

.kosar-stat {
    display: flex;
    gap: 1%;
    height: 100%;
}

.kosar-tart {
    flex: 1;
}

.kosar-kisz {
    padding: 1.5%;
    background-color: #1a2323;
    margin-bottom: 2%;
    border-radius: 10px;
}

.kosar-kisz-bel {
    padding: 1.5%;
    line-height: 150%;
    background-color: #3b3f3f;
    border-radius: 15px;
}

.kosar-kisz-bel p {
    color: #7a7a8c;
}

.kosar-term {
    border-radius: 10px;
    background-color: #1a2323;
    padding: 1%;
}

.kosar-ar {
    background-color: #1a2323;
    padding: 1%;
    height:fit-content;
    border-radius: 10px;
}

.kosar-ar .ar {
    text-align: end;
}

.kosar-kifizet {
    display: grid;
    margin: auto;
    align-items: center;
    margin-top: 5%;
    text-align: center;
    height: 4.6em;
    width: 90%;
    font-weight: bold;
    border: #5e4fa8 solid 3px;
    border-radius: 10px;
    transition: all 1s;
}

.kosar-kifizet:hover {
    border: #6142ff solid 4px;
    box-shadow: white 0px 0px 10px;
    transform: scale(1.02)

}

.kosar-ar .kosar-kupon {
    margin-top: 2%;
    color:#7a7a8c;
}

.kosar-tb {
    width: 100%;
}

.kosar-tb-cim th {
    padding-bottom: 0.7%;
    font-size: 1.5em;
    text-align:start;
    font-weight: bold;
}

.kosar-tb-stat td {
    border-bottom: white dashed 2px;
}

.kosar-tb-term td{
    padding-top: 1%;
}


.kosar-total {
    width: 15%; 
}

.kosar-darab {
    width: 20%;
}

.kosar-darab input {
    width: 20%;
}

.kosar-torles {
    width: 5%;
    text-align: center;
}

.kosar-torles button {
    width: 100%;
    background-color: rgb(255, 72, 72);
    border: black solid 1px;
    border-radius: 5px;
    color: white;
    transition: all 0.5s;
}

.kosar-torles button:hover {
    box-shadow: white 0 0 10px;
    transform: scale(1.1);
}

/* PRODUCTS: filter, holder */

.p-body {
    background-image: linear-gradient(to top, black, transparent), url(képek/fold.jpg);
    background-repeat: no-repeat, no-repeat;
    background-size: cover, cover;
    background-attachment: scroll, scroll;
}

.f-p {
    display: flex;
    height: 100vh;
    margin: 1vw;
    gap: 1vw;
}

.filter {
    flex: 1;
    background: linear-gradient(to bottom, #1a2323, 80%, transparent);
    border-radius: 10px;
}

.card-holder {
    overflow-y: scroll;
    scroll-behavior: smooth;
    color: black;
    border: #1a2323 solid 2px;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    padding: 1%;
    flex: 5;
    background: linear-gradient(to bottom, #1a2323, 70%, transparent);
    align-content: flex-start;
    gap: 1%;
}

.c {
    box-sizing: border-box;
    max-width: 19%;
    height: 25vw;
    flex-basis: 19%;
    box-sizing: border-box;
    background-color: white;
    border-radius: 10px;
    border: #1a2323 solid 2px;
    transition: 0.5s all;
}

.c:hover {
    border: #4169e1 solid 2px;
    box-shadow: white 0 0 10px;
    transform: scale(1.05)
}

.c-img {
    width: 100%;
    border-radius: 8px 8px 0 0;
}

.c-body{
    padding: 0.6vw;
    overflow: hidden; /* ez tünteti el a kartyat */
}

.cardhr {
    border-top: #4169e1 1px solid;
}

.c-body h5 {
    font-size: 1.8vw;
    font-weight: bold;
}

.c-body h5:hover {
    animation: title-scroll 5s linear infinite;
    width: 100%;
}


.c-body p {
    font-size: 1vw;
    color: #575757;
}

.c-body button {
    font-size: 1.5vw;
    height: 3vw;
    width: 3vw;
    border: 1.5px solid black;
    border-radius: 50px;
    background-color: rgb(2, 245, 241);
    position: relative; /* gyakorlatilag a relative pozíción kívül minden más megjeleníti */
    float: right;
    top: 7.2vw;
    transition: all 1s;
}

.c-ar {
    position: relative;
    float: left;
    top: 7.7vw;
    font-weight: lighter;
    font-size: 1.6em;
    color: rgb(6, 183, 0);
}

.c-body button:hover {
    box-shadow: #4169e1 0 0 10px;
    transform: scale(1.1)
}

/* home, users, cart*/

.h-main, .c-main{
    height: 100vh;
}

.section1 {
    height: 100vh;
}

.section2 {
    background-color: #e52e71;
    height: 40vh;

}

/* home */

.h-h1 {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    position: relative;
    top: 20%;
    font-size: 250%;
}

.h-h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    position: relative;
    top: 23%;
    font-size: 150%;
}

.h-h3 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    position: relative;
    top: 26%;
    font-size: 100%;
}

.h-bemutato {
    font-size: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
    position: relative;
    top: 40%;
    padding: 2%;
    background-image: linear-gradient(to right, #1a2323, 50%, transparent);
}

.h-p-bemutato {
    font-size: 140%;
    font-weight: bold;
}

.hr-bemutato {
    margin-bottom: 0.8%;
}

.h-ul-bemutato {
    font-style: italic;
}

/* users */

.u-main {
    height: 100%;
}

a {
    text-decoration: none;
}

.card-list {
    display: flex;
    padding: 3rem 3rem 2rem 3rem;
    overflow-x: scroll;
    scrollbar-width: 0%;
}

.card-list::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
.card-list::-webkit-scrollbar-thumb {
    background: #201c29;
    border-radius: 10px;
    box-shadow: inset 2px 2px 2px hsla(0,0%,100%,.25), inset -2px -2px 2px rgba(0,0,0,.25);
}

.card-list::-webkit-scrollbar-track {
    background: linear-gradient(90deg,#201c29,#201c29 1px,#17141d 0,#17141d);
}


.card {
    height: 400px;
    width: 350px;
    min-width: 250px;
    padding: 1.5rem;
    border-radius: 16px;
    background: #17141d;
    box-shadow: -1rem 0 3rem #000;
    display: flex;
    flex-direction: column;
    transition: .2s;
    margin: 0;
    scroll-snap-align: start;
    clear: both;
    position: relative;
}

.card:focus-within~.card, .card:hover~.card {
    transform: translateX(130px);
}

.card:hover {
    transform: translateY(-1rem);
}

.card:not(:first-child) {
    margin-left: -130px;
}


.card-header {
    margin-bottom: auto;
}

.card-header p {
    font-size: 14px;
    margin: 0 0 1rem;
    color: #7a7a8c;
}

.card-header h2 {
    font-size: 20px;
    margin: .25rem 0 auto;
    text-decoration: none;
    color: inherit;
    border: 0;
    display: inline-block;
    cursor: pointer;
}

.card-header h2:hover {
    background: linear-gradient(90deg,#ff8a00,#e52e71);
    text-shadow: none;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

.card-author {
    margin: 3rem 0 0;
    display: grid;
    grid-template-columns: 75px 1fr;
    align-items: center;
    position: relative;
}

.author-avatar {
    grid-area: auto;
    align-self: start;
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
}

.author-avatar img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    display: block;
    overflow: hidden;
    margin: 16px 7.5px;
    object-fit: cover;
    object-position: 0 10%;
}

.author-name {
    grid-area: auto;
    box-sizing: border-box;
}

.author-name-prefix {
    font-style: normal;
    font-weight: 700;
    color: #7a7a8c;
}

.half-circle {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 60px;
    height: 48px;
    fill: none;
    stroke: #ff8a00;
    stroke-width: 8;
    stroke-linecap: round;
    pointer-events: none;
}

.tags {
    display: flex;
    gap: 10px;
    justify-content: start;
    align-items: center;
    margin: 1rem 0 2rem;
    padding: .5rem 0 1rem;
    line-height: 2;
    margin-bottom: 0;
}

.insta, .tiktok, .github {
    display: flex;
    justify-content: center;
    height: 30px;
    width: 35px;
    align-items: center;
    font-style: normal;
    font-weight: 700;
    font-size: .5rem;
    color: #7a7a8c;
    text-transform: uppercase;
    font-size: .66rem;
    border: 3px solid #28242f;
    border-radius: 2rem;
    padding: .2rem .85rem .25rem;
    position: relative;
}

.tiktok:hover, .insta:hover, .github:hover {
    background: linear-gradient(90deg,#ff8a00,#e52e71);
    text-shadow: none;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

.tiktok, .github {
    font-size: 150%;
}

.insta-logo {
    font-size: 200%;
}

/* Egyéb */

#top-btn {
    position: fixed;
    bottom: 10px;
    right: 20px;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    z-index: 3;
    background-color: #353535;
}

#top-btn svg {
    height: 40px;
    filter: invert(1);
}


/* termékek v2 */

.p2-b {
    margin: 1%;
}

.card2-container {
    background: linear-gradient(to bottom, #1a2323, 70%, transparent);
    border: 2px solid #1a2323;
    border-radius: 10px;
    gap: 1rem;
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-auto-rows: 350fr;
}

.c2 {
    color: #000;
    background-color: white;
    border: #1a2323 solid 2px;
    border-radius: 8px;
    overflow: hidden;
    height: 350px;
    width: 100%;
    max-width: 300px;
    margin: auto;
}

.c2:hover {
    border: #4169e1 solid 2px;
    box-shadow: white 0 0 10px;
    transform: scale(1.05);
    transition: all 0.5s;
}

.c2-h {
    width: 100%;
    height: 60%;
    background-image: url(képek/randomhatter1.jpg);
    background-repeat: no-repeat;
    background-size: contain;
}

.hr2 {
    border-top: #4169e1 1px solid;
}

.c2-b {
    height: 100%;
    padding: 0.6vw;
}

.c2-h3 {
    font-size: 1.5rem;
}

.c2:hover h3 {
    animation: title-scroll 5s linear infinite;
}

@keyframes title-scroll {
    from {
        transform: translateX(100%); 
    }
    to {
        transform: translateX(-100%); 
    }
}

.main-f {
    border-top: 2px solid grey;
    color: #000;
    height: 30%;
    background-color: #fff;
}

.main-f>div {
    display: flex;
    height: 100%;
    justify-content: start;
    padding: 30px;
    background-color: #fff;
}

.main-f>div>div {
    width: 20%;
}

.main-f ul {
    list-style: none;
    line-height: 1.5rem;
}

.main-f ul li:hover {
    text-decoration: underline 1px black;
}

.main-f ul li:first-child {
    font-weight: bold;
    line-height: 2rem;
}

.bi-bag-plus {
    color: #fff;
    font-size: 130%;
    width: 40px;
    height: 40px;
    border: 1px solid black;
    border-radius: 100%;
    background-color: #617fd6;
    position: relative;
    top: 10%;
    left: 80%;
}

.c2-b>div {
    position: relative;
    top: 10%;
}

.ár {
    width: max-content;
    position: absolute;
    top: 25%;
    right: 25%;
    color: #28242f;
}