@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Roboto&display=swap');

:root {
    font-family: "Roboto";
    font-size: 16px;
    --bg: #353535;
    --nav-bg: #1a2323;
    --focus: #4169e1;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
    background-image: linear-gradient(to bottom right, royalblue, aquamarine);
    background-repeat: no-repeat;
    background-size: 100%;
}

/* nav-bar */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1%;
    margin-bottom: 0;
    margin-left: 1%;
    margin-right: 1%;
    background-color: var(--nav-bg);
    padding: 1.5%;
    border-radius: 10px;
}

nav ul li{
    display: inline-block;
    list-style: none;
    padding: 0 1vw 0 1vw;
    align-items: center;
}

nav ul li span a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    transition: all 0.5s;
}

nav ul li span a:hover, .kosar:hover>a {
    color: var(--focus);
}

.kosar {
    font-size: 1.1vw;
    border: none;
    border-radius: 50px;
    background-color: var(--focus);
    padding: 0.5em;
    color: white;
    transition: all 0.5s;
}

.active-lap {
    color: var(--focus);
}

.bi-bag-check{
    margin: 0 0.3em 0 0;
}

.kosar:hover {
    background-color: #393160;
    box-shadow: white 0px 0px 10px;
}

.logo {
    width: 10vw;
    filter: invert(1);
}

/* filter, holder */

.f-p {
    display: flex;
    height: 100vw;
    margin: 1vw;
    gap: 1vw;
}

.filter {
    flex: 1;
    background-color: green;
    border-radius: 10px;
}

.card-holder {
    border: #1a2323 solid 2px;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    padding: 1vw;
    flex: 5;
    background-color: blue;
    align-content: flex-start;
    gap: 1%;
    scroll-behavior:auto;
    overflow-y: scroll;
}


.card {
    height: 25vw;
    flex-basis: 19%;
    box-sizing: border-box;
    background-color: white;
    border-radius: 10px;
    border: #1a2323 solid 2px;
    transition: 0.5s all;
}

.card:hover {
    border: #4169e1 solid 2px;
    box-shadow: white 0 0 10px;
}

.card-img {
    width: 100%;
    border-radius: 8px 8px 0 0;
}

.card-body{
    padding: 0.6vw;
}

.cardhr {
    border-top: #4169e1 1px solid;
}

.card-body h5 {
    font-size: 1.8vw;
    font-weight: bold;
    overflow: hidden;
}

.card-body p {
    font-size: 1vw;
    color: #575757;
}

.card-body button {
    font-size: 1.5vw;
    height: 3vw;
    width: 3vw;
    border: 1.5px solid black;
    border-radius: 50px;
    background-color: rgb(2, 245, 241);
    position: relative;
    float: right;
    top: 7.2vw;
    transition: all 1s;
}

.card-body button:hover {
    box-shadow: #4169e1 0 0 10px;
}

/* supp */

.h-main, .s-main {
    height: 100vh;
}

.s-section {
    margin: 5% auto 0 auto;
	width: 600px;
    height: 800px;
    background-color: ivory;

}

.s-section>h1, .s-section>h3 {
    text-align: center;
    line-height: 50px;
}

.s-section>input {
    text-align: center;
    margin: auto;
}

/* Egyéb */

#top-btn {
    position: fixed;
    bottom: 10px;
    right: 20px;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    z-index: 3;
    color: white;
    background-color: #353535;
}